<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="mx-20">
    <header class="bg-cyan-50 mt-8 flex justify-between items-center">
        <h2 class="bg-yellow-400 text-rose-600 text-3xl font-bold">AroiJung</h2>
        <div>
            <ul class="flex items-center gap-8 text-lg">
                <li class="hover:border-2 hover:bg-rose-100 hover:rounded-xl hover:text-rose-500"><a href="#">home</a></li>
                <li class="hover:border-2 hover:bg-rose-100 hover:rounded-xl hover:text-rose-500"><a href="#">about</a></li>
                <li class="hover:border-2 hover:bg-rose-100 hover:rounded-xl hover:text-rose-500"><a href="#">shop</a></li>
                <li class="hover:border-2 hover:bg-rose-100 hover:rounded-xl hover:text-rose-500"><a href="#">raidee</a></li>
            </ul>
        </div>
    </header>
    <div class="text-7xl mt-14">
        <h1>Are you</h1>
        <h1 class="text-red-600 ">Hungry</h1>
        <h1>Find your food</h1>
    </div>
    <div class = "mt-8 bg-cyan-500">
        <input  type="text" class="w-72 p-2.5 pl-10 text-sm placeholder-gray-500 placeholder::text-xs 
        border-rose-500 border-2 rounded-lg hover:border-red-400" 
        placeholder="มื้อนี้ทานอะไรดี">
        
        <a href="#">
            <button class="bg-yellow-200 hover:bg-amber-300 font-bold m-2 py-2 px-4 rounded">
                Search
            </button>
        </button>
        </a>
    </div>
</body>
</html>