{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-[#55BEDF] mt-40 mx-72 flex flex-col">
    <div class="bg-white md:max-w-48 h-96 rounded-xl"></div>
    <div class="bg-[#FFE6E6] ml-14 w-80 h-64 absolute top-56">
        <img class="float-right h-80 w-96 mr-48 mt-24 absolute right-40" src="{% static shop_drink_url %}" alt="menu_name">
    </div>
    <h1 class="text-[black] text-4xl font-bold mb-5 w-96 fixed bottom-36 right-80 top-56">{{ shop_name2 }}</h1>
    <h1 class="text-[black] text-4xl font-bold mb-5 mt-36 w-96 font-bold absolute bottom-14 absolute right-80 top-44">{{ menu_name2 }}</h1>
    <div class="bg-[#2F3282] w-40 h-12 rounded-2xl hover:border-4 border-[#FFCA99] mr-72 mt-36 absolute right-64 top-64 text-center">
        <h1 class="text-[white] text-2xl mt-10 font-bold absolute bottom-1 right-10">{{ menu_price2 }} บาท</h1>
    </div>
    <form method="post" action="drinks">
        {% csrf_token %}
        <button class="mt-8 bg-[#890202] w-80 h-12 rounded-xl inset-x-1/2 hover:border-4 border-[#FFCA99]">
            <h1 class="text-[#FFDD64] text-2xl font-bold" id="stat-btn" class="btn">Return</h1>
        </button>
    </form>
</body>
</html>