{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-[#FF6432] mt-40 mx-72">
    <div class="bg-white md:max-w-48 h-96 rounded-xl"></div>
    <div class="bg-[#FFE6E6] ml-14 w-80 h-64 absolute top-56"></div>
    <div class="bg-[#FF0F0F] w-40 h-12 rounded-2xl hover:border-4 border-[#FFCA99] mr-72 mt-36 absolute right-40 top-64 text-center ">
        <h1 class="text-[black] text-2xl mt-10 font-bold absolute bottom-1 w-40">{{ shop_name }}</h1>
        <h1 class="text-[black] text-2xl mt-10 font-bold absolute bottom-1 w-40">{{ menu_name }}</h1>
        <h1 class="text-[white] text-2xl mt-10 font-bold absolute bottom-1 w-40">{{ menu_price }} บาท</h1>
    </div>
</body>
</html>