<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in page</title>
    <script src="https://cdn.tailwindcss.com"></script>    
  </head>

  <body class = "bg-gradient-to-r from-rose-500 to-pink-400">
    
    <div class="min-h-screen py-40">
      <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row w-10/12 lg:w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hiddenx">
          
          <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-12bg-no-repeat bg-cover bg-center bg-yellow-200">
            <h1 class="text-rose-500 text-7xl">Welcome</h1>
            <div>
              <p class="text-rose-400 text-2xl mt-6">Log in to ordering food</p>
            </div>
          </div>
          
          <div class="w-full lg:w-1/2 py-16 px-12">
            <h2  class="text-3xl mb-4">Log in</h2>

            <form action="home.html">
              <div class="mt-8">
                <input type="text" placeholder="Username" class="border rounded-md border-gray-400 py-1 px-2">
              </div>
              <div class="mt-8">
                <input type="text" placeholder="Email" class="border rounded-md border-gray-400 py-1 px-2 w-full">
              </div>
              <div class="mt-8">
                <input type="password" placeholder="Password" class="border rounded-md border-gray-400 py-1 px-2 w-full">
              </div>
              <div class="mt-8">
                <button class="w-full border-4 border-rose-500 rounded-md hover:bg-rose-500 py-3 text-center hover:text-white">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>